.LoginTitle {
    margin-bottom: 20px;
}
.MyFormText {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgb(147, 147, 150); 
    padding: 4px;
    width: 300px;
}
.MyFormText:focus {
    border-bottom: 2px solid #159ae7;
}
#SmallTextBox {
    width: 150px;
}
#Question {
    margin-top: 20px; 
}
.MyButton {
    background-color: #188fff;
    color: white;
    height: 45px;
    border-radius: 10px;
    margin-top: 25px;
    width: 300px;
    padding: 4px;
}
.MyButton:hover {
    background-color: #5fb2ff;
}
.MyButton:focus {
    background-color: #5823d4;
}