header{
    /*min-height: 50% !important;*/
    height: 85px;
    /*padding: 5%;*/
    background-color: #007bff;
}
#logout{
    position: absolute;
    right: 3%;
    top: 5%;
    background-color: #007bff;
    border: 0; 
}
#notes, #password, #profile{
    position: absolute;
    background-color: #007bff;
    border: 0; 
    font-weight: bold;
    width: 6%;
    height: 1px;
}
#notes:hover, #password:hover, #profile:hover {
    background-color: #0a4e97;
}
#notes:focus, #password:focus, #profile:focus {
    outline: 0;
    background-color: #000000;
}
#notes{
    left: 9%;
    top: 5%;
}
#password{
    left: 15.5%;
    top: 5%;
}
#profile{
    left: 22%;
    top: 5%;
}