<main class="container">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-6 mx-auto">
      <h1 class="mt-3">Aici iti poti schimba parola contului!</h1>
      <form class="my-5" [formGroup]="profileForm" (submit)="changePassword()">
          <div class="form-group"> 
            <label for="password">Parola:</label>
            <input class="form-control" type="password" name="password" formControlName="password" required>
          </div>
  
          <div class="form-group"> 
            <label for="passwordConfirmation">Confirmare parola:</label>
            <input class="form-control" type="password" name="passwordConfirmation" formControlName="passwordConfirmation" required>
          </div>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!profileForm.valid">Schimbare Parola</button>
      </form>
      <a routerLink="/login">Te poti intoarce aici spre pagina de logare!</a>
    </div>
  </div>
</main>