<main class="container">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-6 mx-auto">
      <h1 class="mt-3">Introdu adresa de email apoi apoi urmeaza instructiunile primite pe email pentru recuperarea parolei!</h1>
      <form class="my-5" [formGroup]="profileForm" (submit)="forgotPassword()">
          <div class="form-group"> 
            <label for="email">Adresa de mail:</label>
            <input class="form-control" type="email" name="email" formControlName="email" required>
          </div>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!profileForm.valid">Recuperare Parola</button>
      </form>
      <a routerLink="/login">Daca ti-ai recuperat parola te poti intoarce aici spre pagina de logare!</a>
    </div>
  </div>
</main>
          
